# Strings.

String is a fundamental data type, used to represent texts.

1.Str has Character,Sequence,Length.
2.Str with quotation marks is String literal
3.Str are immutable, cannot be changed.

In [45]:
Name="Shravani G"
Name

'Shravani G'

In [7]:
#To know the length of a string including spaces.

len(Name)

10

In [8]:
#Concatenation is joining 2 str

F_Name="Shravs"
L_Name="Sweeto"
Full_Name=F_Name + " " + L_Name
Full_Name

'Shravs Sweeto'

In [ ]:
##Indexing ~ Each char in string has index starting from 0

Name="Shravani"
#Name[1]
---------------------------------
#Slicing

#Name[-1] to get the last char.

#Name[1:4] in between char.

#Name[:5] till the given char.

#Name[4:]from the given char.

#Name[::-1]to get in reverse order.

In [ ]:
#String special functions called String Methods

Name="Honey"

#Name.upper()
#Name.lower()

#The actual variable name isn't changed, to change it assign it to a new variable.

In [9]:
#To remove white spaces in string literals.

Name="   Gannoji Shravani   "
#Name.lstrip()
#Name.rstrip()
Name.strip()

'Gannoji Shravani'

In [ ]:
#To find the string start and the end char. with boolean data type.~TRUE OR FALSE.

Name="Honey"
#Name.startswith("Hn")
#Name.endswith("ey")

In [1]:
#Interacting with user Input.
# --------------------------------------revise again...
#input()
Bank='PIN'
user_input=input()
print('Type your PIN',user_input)

WinterWorld
Type your PIN WinterWorld

In [10]:
#Converting str into numbers(int,float)

num1="2"
num2="3"
num=num1+num2
print(num)

23

In [22]:
#Cannot change str into int.
Pancakes="10"
#Today= "I ate " + str(Pancakes) + " pancakes today"
OR.
#Today= "I ate " + str(10) + " pancakes today"
Today


#Can also use arthematics
#Today= "I ate " + str(Pancakes -,+ ) + " pancakes today"

'I ate 10 pancakes today'

In [38]:
#Streamline print statements.
Name='House'
rooms='2'
baths='2'

#print(Name + " has " + str(rooms) + " rooms" + " and " + str(baths)+ " baths")
#another method formatted string literals.
f" {Name} has {rooms} rooms and {baths} baths"

' House has 2 rooms and 2 baths'

In [41]:
#Find a string in a string.  ~  .find() , it is case sensitive and will consider  the first appared string. if not output is -1.
Note="I've a bad headache."
Note.find("bad")

7

In [1]:
#Replacing a string ~ .replace()

#replace doesn't change the original variable, to change it add it to a new variable.
Movie="It was a good one"
Movie.replace("good","bad")

'It was a bad one'