# Strings.

### String is a fundamental data type, used to represent texts.

* Str has Character,Sequence,Length.

* Str with quotation marks is String literal.

* Str are immutable, cannot be changed.

In [45]:
Name="Shravani G"
Name

'Shravani G'

#### To know the length of a string including spaces.

In [7]:
len(Name)

10

#### Concatenation is joining 2 strings

In [8]:
F_Name="Shravs"
L_Name="Sweeto"
Full_Name=F_Name + " " + L_Name
Full_Name

'Shravs Sweeto'

In [ ]:
##Indexing ~ Each char in string has index starting from 0

Name="Shravani"
#Name[1]

### Slicing

In [3]:
#Name[-1] to get the last char.

#Name[1:4] in between char.

#Name[:5] till the given char.

#Name[4:] from the given char.

#Name[::-1] to get in reverse order.

#Name[0::2] gets only even indexed char.

### String special functions called " String Methods "

In [ ]:

Name="Honey"

#Name.upper()
#Name.lower()

#The actual variable name isn't changed, to change it assign it to a new variable.

#### To remove white spaces in string literals.

In [9]:
Name="   Gannoji Shravani   "
#Name.lstrip()
#Name.rstrip()
Name.strip()

'Gannoji Shravani'

#### To find the string start and the end char. with boolean data type.~TRUE OR FALSE.

In [ ]:
Name="Honey"
#Name.startswith("Hn")
#Name.endswith("ey")

In [1]:
#Interacting with user Input.
# --------------------------------------revise again...
#input()
# Bank='PIN'
# user_input=input()
# print('Type your PIN',user_input)

Account_Name='Rana'
user_input=input()
print('Enter your Name',user_input)

Rana
Enter your Name Rana

#### Converting str into numbers(int,float)

In [2]:
# num1="2"
# num2="3"
# num=num1+num2
# print(num)

string1='2'
string2='4'
string_float=string1+string2
string_float

'24'

In [22]:
#Cannot change str into int.
Pancakes="10"
#Today= "I ate " + str(Pancakes) + " pancakes today"
OR.
#Today= "I ate " + str(10) + " pancakes today"
Today


#Can also use arthematics
#Today= "I ate " + str(Pancakes -,+ ) + " pancakes today"

'I ate 10 pancakes today'

#### Streamline print statements.

In [5]:
Name='House'
rooms='2'
baths='2'

print(Name + " has " + str(rooms) + " rooms" + " and " + str(baths)+ " baths")

House has 2 rooms and 2 baths

Another method formatted string literals.

In [6]:
f" {Name} has {rooms} rooms and {baths} baths"

' House has 2 rooms and 2 baths'

#### Finding a string using .find()

In [4]:
# it is case sensitive and will consider  the first appeard string. if not output is -1.

Note="I've a bad headache."
Note.find("bad")

7

#### Replacing a string using   .replace()

In [7]:
#replace doesn't change the original variable, to change it add it to a new variable.

Movie="It was a good one"
Movie.replace("good","bad")

'It was a bad one'