# Data Structures.

Modeling the Data to our program interaction using the Data structures.

1.Lists
2.Tuples
3.Dictionaries.

All the 3 Data strcutures are iterable, means they can be looped over.

# Lists

Lists are mutable , means they can be changed.  Uses [] brackets.

Lists values are not required to be same type.["one",2,3.0]example.

In [10]:
#Creating a list from string using string objct .split()

Grocery="Eggs,Bread,Juices"
#Grocery_List=Grocery.split(",") or (":") or (";")
Grocery_List

['Eggs', 'Bread', 'Juices']

In [12]:
list((1,2,3))

[1, 2, 3]

In [17]:
#List from a string
list("Tiger")

['T', 'i', 'g', 'e', 'r']

### Basic List Operations.

In [1]:
#Index Notation.
Points=(1,2,3,4,5,6,7,8,9)
Points[1]
#New List for exsiting list.
Points[2:4]
#Checking for list element using 'in' operater.
"Rana" in Points
#Print only even numbers in the list.
for Point in Points:
    if Point %3==0:
        print(Point)

3
6
9

### Changing elements in a list.

The abiltiy to swap values in a list for other values is called Mutable. Lists are Mutable.

In [3]:
#Swaping values in a list to another values using Index Notation.

Colors=["Red","Pink","Black","Blue"]
Colors[1]='White'
Colors

# Swaping mutliple values
Colors[1:3]='Orange','Brown','Yellow'
Colors

['Red', 'Orange', 'Brown', 'Yellow', 'Blue']

### List methods for adding and removing Elements.

In [7]:
# list.insert()
Colors=["Red","Pink","Black","Blue"]
#Colors.insert(1,'Yellow')
Colors.insert(-1,'Yellow')
Colors

['Red', 'Pink', 'Black', 'Yellow', 'Blue']

In [1]:
# list.pop()
Colors=['Red', 'Pink', 'Black', 'Yellow', 'Blue']
Colors=Colors.pop(3)
'Magenta'----------------------Ask deepu.
Colors

'Yellow'

In [2]:
# list.append()
Colors=['Red', 'Pink', 'Black', 'Yellow']
Colors.append('Blue')
Colors

['Red', 'Pink', 'Black', 'Yellow', 'Blue']

In [5]:
#list.extend()
Colors=['Pink', 'Black', 'Yellow']
Colors.extend(['Red','Blue'])
Colors

['Pink', 'Black', 'Yellow', 'Red', 'Blue']

### List of Numbers.

In [10]:
#Common operation of List of numbers is to get the sum of the values.
#sum([1,2,3,4,5])
#max([1,2,3,4,5])
min([1,2,3,4,5])

1

### List Comprehension.

In [7]:
A = [1,2,3,4,5,6]
B = [6,5,4,3,2,1]

In [8]:
ASquares = []
for ele in A:
    ASquares.append(ele**2)
print(ASquares)

[1, 4, 9, 16, 25, 36]

In [9]:
ASquaresListComp = [ele**2 for ele in A]
ACubeListComp = [ele**3 for ele in A]
print(ASquaresListComp)
print(ACubeListComp)

[1, 4, 9, 16, 25, 36]
[1, 8, 27, 64, 125, 216]

In [13]:
MultiplyComp = [x*y for x,y in zip(A,B)]
print(MultiplyComp)

[6, 10, 12, 12, 10, 6]

# Tuples

Tuple means finite ordered sequence of values.

We canâ€™t change the value of an element of a tuple once it has been created.
so,its Immutable.

Tuples are iterable.

In [14]:
my_first_tuple=(1,2.0, "three")
type(my_first_tuple)

# To create the tuple containing the single value 1, you need to include
# a comma after the (1,)

tuple

In [18]:
#Slicing notation also works with Tuples.

Values=(1,2,3,4,5)
Values[1:3]

(2, 3)

In [22]:
Vowels=('a','e','i','o','u')
for Vowels in Vowels:
        print(Vowels.upper())

A
E
I
O
U

In [23]:
#Tuple packing

Coordi=12.4,56,8
type(Coordi)

tuple

In [27]:
#Tuple Unpacking

Age,Name,State=13,"Rana","PTC"
Age
#Values assigned to the variable must be equal.

13

In [29]:
# Checking for existence of values using 'in' operator.

Vowels=('a','e','i','o','u')
"o" in Vowels

"z"in Vowels

False

In [37]:
#One common use of Tuple is to return multipe values from a singel function.

def plus_minus(num1,num2):
    return(num1+num2,num1-num2)
plus_minus(3,6)

(9, -3)

### Nesting, Copying and sorting of Lists and Tuples.

In [6]:
# Nesting

two_by_two=[[1,2],[4,5]]
two_by_two[0]
two_by_two[1]
two_by_two[0][1] #Double indexing notation.

2

In [13]:
# Copying lists

Netflix=['365','Spidy','GOT']
Series=Netflix
Series.append('Friends')
Netflix

matrix=[[1,2],[3,4]]
matrix1=matrix[:]  #Shallow Copy.
matrix1[0]=[5,6]
# matrix1
matrix

[[1, 2], [3, 4]]

In [17]:
# Sorting lists

# sort the values in ascending order.
Num=[4,6,1,9,3]
Num.sort()
Num

Names=['Rana','Deepu','Manu','Likki']
Names.sort()
Names

Colors=['Blue','Red','Yellow','Black']
Colors.sort(key=len)
Colors

['Red', 'Blue', 'Black', 'Yellow']

### Store Relationships in Dictionaries.

One of the most important Data structures in python is Dictionary.

Each Dictionary as two parts key and value, the word and the definition of it.
Dictionary holds Data in Key-Value pairs.

In [13]:
#Creating a Dictionary

Couples={
    "Mom":"Dad","Likki":"Manu","Deepu":"Shravs"}
Couples["Deepu"]="Sweetoo"
del Couples["Deepu"]
"Mom"in Couples

True

### How to pick a Data Structure.

### For using List

When Data has natural order to it.

You need to update or alter the Data.

Primary need for it is iteration.

### For using Tuple.

When Data has natural order to it.

NO Need to update or alter the Data.

Primary need for it is iteration.

### For using Dictionary.

When Data is not in order.

You need to update or alter the Data.

Primary need for it is looking up the values.